* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*==============================================*\
  * 💡 Aquie empieza el Header                  *
  * 🎭 Estilos para la cabecera de la web.🎭   *
  *   👤 Autor: JuanDaProgram                   *
  *   📅 Fecha: 03/25/2025                      *
\*==============================================*/

.main {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    width: 100vw;
    height: 100vw;
    background-color: whitesmoke;
}

.header {
    width: 100%;
    height: auto;
}

.contenedorHeader {
    border-bottom: 1px solid rgb(187, 186, 186);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    background-color: white;
    align-items: center;
    width: 100%;
    height: 63px;
}

.contenedorHeader div {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorHeader div>img {
    width: 17px;
    box-sizing: border-box;
}

.contenedorHeader div>.truco {
    position: relative;
    left: 4px;
    transition: all 0.1s ease;
}

/*HOVER y truco filtro svg*/
.contenedorHeader div>.truco:hover {
    filter: invert(47%) sepia(9%) saturate(3176%) hue-rotate(5deg) brightness(93%) contrast(81%);
}

/*HOVER negado = efecto inverso*/
.contenedorHeader div>.truco:not(:hover) {
    transition: filter 2.0s ease;
}

.contenedorHeader div>.LOGO {
    position: relative;
    width: 75px;
    box-sizing: border-box;
    left: -9px;
    bottom: -1px;
}

.contenedorHeader div h3 {
    font-size: 15px;
    transition: all 0.3s ease;
}

.contenedorHeader div h3:hover {
    color: #8e732d;
}

/*==============================================*\
  * 💡 Aquie empieza el Nav                     *
  * 🎭 Estilos para un menu basico de web.🎭   *
  *   👤 Autor: JuanDaProgram                   *
  *   📅 Fecha: 03/25/2025                      *
\*==============================================*/

.nav {
    width: 100vw;
    height: auto;
}

.containerNav {
    width: 100%;
    height: auto;
}

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: white;
    margin: 0 auto;
    border-bottom: 1px solid rgb(231, 231, 231);
    align-items: center;
    justify-content: center;
    list-style: none;
}

.menu li {
    width: auto;
    height: 100%;
    line-height: 50px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.2s ease-out;

}

.menu li:hover {
    border-bottom: 3px solid #8e732d;
    color: #8e732d;
}